@model IEnumerable<DogGo.Models.Dog>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<hr class="mt-5" />
<div class="clearfix"></div>

<div class="row">
    <section class="col-8 container mt-5">
        <h1 class="text-left">Dogs</h1>

        <div class="row">
            @foreach (Dog dog in Model)
            {
                <div class="card m-4" style="width: 18rem;">
                    @if (String.IsNullOrEmpty(dog.ImageUrl) || (!Uri.IsWellFormedUriString(dog.ImageUrl, UriKind.Absolute)))
                    {
                        <img src="https://cdn.pixabay.com/photo/2018/08/15/13/12/dog-3608037_960_720.jpg"
                             class="card-img-top"
                             alt="Doggo" />
                    }
                    else
                    {
                        <img src="@dog.ImageUrl" class="card-img-top" alt="Doggo" />
                    }
                    <div class="card-body">
                        <div>
                            <label class="font-weight-bold">Name:</label>
                            <span>@dog.Name</span>
                        </div>
                        <div>
                            <label class="font-weight-bold">Breed:</label>
                            <span>@dog.Breed</span>
                        </div>
                        <div>
                            <label class="font-weight-bold">Notes:</label>
                            <p>@dog.Notes</p>
                        </div>
                    </div>
        @Html.ActionLink("Edit", "Edit", new { id = dog.Id }) |
        @Html.ActionLink("Details", "Details", new { id = dog.Id }) |
        @Html.ActionLink("Delete", "Delete", new { id = dog.Id })
                </div>
            }
        </div>
    </section>
    </div>
    
  
    
  
